.nav-link{
  font-size: 34px;
  width: 20rem;
  text-align: center;
  margin-top: 2%;
}

.first{
  margin-left: 9%;
}

.last{
  text-align: end
}

.col, .row{
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-logo{
  font-weight: 900;
  font-size: 50px;
}

.blue{
  color: #008AD4;
}

.green{
  color: #009717
}

.orange{
  color: #E05210;
  margin-bottom: 20px;
}

nav{
  padding-bottom: 20px;
}

.material-icons{
  font-size: 45px;
  margin-right: 2%;
}

a{
  color:black;
  text-decoration: none;
}

.home-link:hover{
  background-color:#008AD4;
}

.home-link:hover a{
  color: white;
}

.menu-link:hover{
  background-color:#009717;
}

.menu-link:hover a{
  color: white;
}

.orders-link:hover{
  background-color:#E05210;
}

.orders-link:hover a{
  color: white;
}

.signout{
  margin-left: 80%;
  color:#008AD4;
  font-size: 22px;
  font-weight: bold;
}

.signout:hover{
  cursor: pointer;
  text-decoration: underline;
}