<div>
  <div class="main container-fluid">
    <div class="row home-content">
      <div class="photo">
        <img src="./assets/Linkedin_Size.jpg" alt="A Photo of Kyle Hochdoerfer" class="img-fluid">
      </div>

      <div class="info">
        <div class="row">
          <h1>My Name is Kyle Hochdoerfer</h1>
        </div>

        <div class="row para">
          <p>I’m a graduate of Bellevue University’s Web Development cohort, and a driven and highly detail oriented person. I take
             a lot of pride in my work, which is why I’m eager to put my skills to the test as a Full-Stack Developer. <br><br>
             I built this mock restaurant site, Web Dev Grill as a portfolio piece that could demonstrate my skills as a developer.
            On this site, you can make a user log-in, sign-in to it, add items from the menu to your cart, and save an order of imaginary
          food items that can be viewed on the Orders page. All of this is accomplished using RESTful web API and data being stored through MongoDB.</p>
        </div>
      </div>
    </div>
  </div>
</div>
