@import '../../styles.scss';

.menu-container{
  background-color: #FDFDFD;
  font-family: "Archivo Narrow", sans-serif;
  min-height: 100vh;
}

.banner-attribution{
  background-color:#092671;
  color: white;
  padding-top: .5%;
  font-size: .7rem;
}

.banner-attribution a{
  color: white;
}

.success-cont{
  margin-left: auto;
  margin-right: auto;
}

.successAlert{
  background-color: white;
  border:#092671 5px solid;
  font-family:"Inter", sans-serif;
  width: 70%;
}

.our-menu{
  font-size: 3rem;
}

h1{
  color: #092671;
  font-size: 2rem;
}

.course-head{
  border-bottom:#E05210 solid 2px;
  width: 25%;
  padding-bottom: 10px;
}

.section-header{
  padding-left: 3%;
}

.app-card{
  background-color: white;
  padding-bottom: 1%;
  border-radius: 5px;
}

.entree-card{
  padding-bottom: 1%;
}

.dessert-card{
  padding-bottom: 1%;
}

h2{
  font-size: 1.8rempx;
}

img{
  height: 65%;
  width: 65%;
}

p{
  font-size: 1.2rem;
}

.add{
  cursor: pointer;
}

.app-button{
  background-color: #092671;
  color: white;
  padding: 3%;
  width: 40%;
  font-size: 16px;
  border-radius: 7px;
}

.section-body{
  @media (min-width: $xxs) {
    margin-bottom: 6%;
  }

  @media (min-width: $xs) {
    margin-bottom: 8%;
  }
  @media (min-width: $sm) {
    margin-bottom: 6%;
  }
  @media (min-width: $md) {
    margin-bottom: 4%;
  }
  @media (min-width: $lg) {
    margin-bottom: 2%;
  }
  @media (min-width: $xl) {
    margin-bottom: 1%;
  }
}

.responsive-card{
  @media (min-width: $xxs) {
    width: 90%;
    margin-bottom: 14%;
  }

  @media (min-width: $xs) {
    width: 50%;
    margin-bottom: 3%;
  }
  @media (min-width: $sm) {
    width: 33%;
    margin-bottom: 3%;
  }
  @media (min-width: $md) {
    width: 30%;
  }
  @media (min-width: $lg) {
    width: 28%;
  }
  @media (min-width: $xl) {
    width: 28%;
  }
}

@media (min-width: $xxs) {

  .course-head{
    margin-left: 2%;
    margin-bottom: 1%;
  }
}

@media (min-width: $xs) {

  .course-head{
    margin-left: 3%;
    margin-bottom: 1%;
  }

  .course-head{
    font-size: 2.5rem;
  }
}

@media (min-width: $sm) {

  .course-head{
    margin-left: 1%;
    margin-bottom: 1%;
  }

  .course-head{
    font-size: 2rem;
  }
}

@media (min-width: $lg) {

  .course-head{
    margin-left: 4.5%;
    margin-bottom: 1%;

  }
}

@media (min-width: $xl) {

  .course-head{
    margin-left: 5.5%;
    margin-bottom: 1%;
    font-size: 2.5rem;
  }

  .add{
    font-size: 1.2rem;
  }
}