<div class="menu-container">
  <div class="row text-center">
    <h1 class="our-menu">Our Menu</h1>
  </div>
  <div class="menu-section">
    <div class="section-head row">

      <div *ngIf="appSuccessMessage">
        <div class="alert successAlert text-center success-cont" role="alert">
          {{ appSuccessMessage }}
        </div>
      </div>

      <div class="section-header">
        <h1 class="blue course-head">Appetizers</h1>
      </div>

    </div>
    <div class="section-body row justify-content-center">
      <div class="app-card col-2 justify-content-center text-center responsive-card" *ngFor="let app of appetizers">

        <div class="row">
          <h2>{{app.name}}</h2>
        </div>

        <div class="row text-center justify-content-center">
          <img src="{{app.imageSource}}" alt="{{app.description}}" height="450" width="163">
        </div>

        <div class="row">
          <p class="price">${{app.price}}</p>
        </div>

        <div class="row justify-content-center">
          <div class="app-button add" (click)="addToCart(app)">
            Add to Cart
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-section">
    <div class="section-head row">

      <div *ngIf="entSuccessMessage">
        <div class="alert successAlert text-center success-cont" role="alert">
          {{ entSuccessMessage }}
        </div>
      </div>

      <div class="section-header">
        <h1 class="blue course-head">Entrees</h1>
      </div>
    </div>
    <div class="section-body row justify-content-center">
      <div class="entree-card col-2 justify-content-center text-center responsive-card" *ngFor="let app of entrees">

        <div class="row">
          <h2>{{app.name}}</h2>
        </div>

        <div class="row text-center justify-content-center">
          <img src="{{app.imageSource}}" alt="{{app.description}}" height="450" width="163">
        </div>

        <div class="row">
          <p>${{app.price}}</p>
        </div>

        <div class="row justify-content-center">
          <div class="entree-button add" (click)="addToCart(app)">
            Add to Cart
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-section">
    <div class="section-head row">

      <div *ngIf="desSuccessMessage">
        <div class="alert successAlert text-center success-cont" role="alert">
          {{ desSuccessMessage }}
        </div>
      </div>

      <div class="section-header">
        <h1 class="blue course-head">Desserts</h1>
      </div>
    </div>
    <div class="section-body row justify-content-center">
      <div class="dessert-card col-2 justify-content-center text-center responsive-card" *ngFor="let app of desserts">

        <div class="row">
          <h2>{{app.name}}</h2>
        </div>

        <div class="row text-center justify-content-center">
          <img src="{{app.imageSource}}" alt="{{app.description}}" height="450" width="163">
        </div>

        <div class="row">
          <p>${{app.price}}</p>
        </div>

        <div class="row justify-content-center">
          <div class="dessert-button add" (click)="addToCart(app)">
            Add to Cart
          </div>
        </div>
      </div>
    </div>
  </div>
</div>