<div class="menu-container">
  <div class="row text-center">
    <h1 class="our-menu">Our Menu</h1>
  </div>
  <div class="menu-section">
    <div class="section-head row">

      <div *ngIf="appSuccessMessage">
        <div class="alert successAlert text-center success-cont" role="alert">
          {{ appSuccessMessage }}
        </div>
      </div>

      <div class="section-header">
        <h1 class="blue course-head">Appetizers</h1>
      </div>

    </div>
    <div class="section-body row justify-content-center">
      <div class="app-card col-2 justify-content-center text-center responsive-card" *ngFor="let app of appetizers">

        <div class="row">
          <h2>{{app.name}}</h2>
        </div>

        <div class="row text-center justify-content-center">
          <img src="{{app.imageSource}}" alt="{{app.description}}" height="450" width="163">
        </div>

        <div class="row mt-2">
          <p class="description">{{app.description}}</p>
        </div>

        <div class="row">
          <p class="price">${{app.price}}</p>
        </div>

        <div class="row justify-content-center">
          <div class="app-button add" (click)="addToCart(app)">
            Add to Cart
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-section">
    <div class="section-head row">

      <div *ngIf="entSuccessMessage">
        <div class="alert successAlert text-center success-cont" role="alert">
          {{ entSuccessMessage }}
        </div>
      </div>

      <div class="section-header">
        <h1 class="blue course-head">Entrees</h1>
      </div>
    </div>
    <div class="section-body row justify-content-center">
      <div class="entree-card col-2 justify-content-center text-center responsive-card" *ngFor="let app of entrees">

        <div class="row">
          <h2>{{app.name}}</h2>
        </div>

        <div class="row text-center justify-content-center">
          <img src="{{app.imageSource}}" alt="{{app.description}}" height="450" width="163">
        </div>

        <div class="row mt-2">
          <p class="description">{{app.description}}</p>
        </div>

        <div class="row">
          <p>${{app.price}}</p>
        </div>

        <div class="row justify-content-center">
          <div class="app-button add" (click)="addToCart(app)">
            Add to Cart
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-section">
    <div class="section-head row">

      <div *ngIf="desSuccessMessage">
        <div class="alert successAlert text-center success-cont" role="alert">
          {{ desSuccessMessage }}
        </div>
      </div>

      <div class="section-header">
        <h1 class="blue course-head">Desserts</h1>
      </div>
    </div>
    <div class="section-body row justify-content-center">
      <div class="dessert-card col-2 justify-content-center text-center responsive-card" *ngFor="let app of desserts">

        <div class="row">
          <h2>{{app.name}}</h2>
        </div>

        <div class="row text-center justify-content-center">
          <img src="{{app.imageSource}}" alt="{{app.description}}" height="450" width="163">
        </div>

        <div class="row mt-2">
          <p class="description">{{app.description}}</p>
        </div>

        <div class="row">
          <p>${{app.price}}</p>
        </div>

        <div class="row justify-content-center">
          <div class="app-button add" (click)="addToCart(app)">
            Add to Cart
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-attribution text-center">
  Images by <a href="https://unsplash.com/photos/baked-heart-shaped-bread-l5lCxvZfwcQ">Daniel Schludi,</a> &nbsp;
  <a href="https://unsplash.com/photos/a-white-plate-topped-with-onion-rings-and-a-bowl-of-dipping-sauce-Gc9O2ZozB4A">Esperanza Doronila,</a> &nbsp;
  <a href="https://unsplash.com/photos/a-bowl-of-ice-cream-yJd4jmyDIF0">Janesca,</a> &nbsp;
  <a href="https://unsplash.com/photos/burger-with-fries-8l8Yl2ruUsg">Jonathan Borba,</a> &nbsp;
  <a href="https://unsplash.com/photos/grilled-fish-cooked-vegetables-and-fork-on-plate-bpPTlXWTOvg">Caroline Attwood,</a>&nbsp;
  <a href="https://unsplash.com/photos/fried-chicken-on-stainless-steel-tray-3Uj0GwVmOeY">Lucas Andrade</a>&nbsp;
  <a href="https://unsplash.com/photos/chocolate-cake-kPxsqUGneXQ">David Holifield,</a> &nbsp;
  <a href="https://unsplash.com/photos/brown-bread-on-white-and-red-ceramic-plate-V7-dIKURxK4">Sangria Señorial,</a> and
  <a href="https://unsplash.com/photos/chocolate-cake-with-white-icing-on-white-ceramic-plate-dKT6Q7q2UKs">Shivansh Sethi</a> &nbsp;
  on Unsplash.com
</div>