.registration-container{
  background-color: #E8E8E8;
  font-family: "Bree Serif", serif;
}

h2{
  color: #009717;
  font-size: 52px;
  font-weight: bold;
}

label{
  color: #009717;
  font-size: 26px;
}

.alert{
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif
}

.card{
  border:#009717 solid 10px;
}

.button-register{
  background-color:#009717;
  color: white;
  font-size: 26px;
  padding: 2%;
}

.nav-link{
  font-size: 26px;
  color:#008AD4;
  text-decoration: underline;
}

input{
  font-size: 22px;
  padding: 1%;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
  border: black solid 1px;
  margin-bottom: 4%;
}