/* You can add global styles to this file, and also import other style files */
html, body{
  background-color: #FDFDFD;
}

.off-white{
  background-color: #FDFDFD;
}

$xxs: 0;
$xs: 480px;
$sm: 820px;
$md: 1060px;
$lg: 1320px;
$xl: 1680px;