@import '../../styles.scss';

.home{
  background-color: #FDFDFD;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 2%;
}

p{
  font-size: 1rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.option-cards{
  border-top:#092671 solid 10px;
}

.center-card{
  margin-left: auto;
  margin-right: auto;
}

.menu-card{
  /*border-bottom: #008AD4 solid 2px;*/
  border-bottom: #E05210 solid 2px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.section{

}

.row-section{
  display: flex;
  align-items: center;
}

.about-card{
  background-color: white;
}

h1{
  color: #092671;
  font-size: 2.5rem;
  font-weight:bolder;
  padding-top: 2%;
  font-family: "Archivo Narrow", sans-serif;
}

.about-row{
  margin-top: 4%;
}

.button-home {
  font-weight: 600;
  margin-top: 3%;
  background-color: #092671;
  font-family: "Inter", sans-serif;
  color: white;
  margin-bottom: 3%;
  width: 33%;
  font-size: 1.3rem;
  padding: 1%;
  border-radius: 10px;
  margin-right: 4%;
}

.button-about {
  font-weight: 600;
  margin-top: 3%;
  background-color: #009717;
  font-family: "Inter", sans-serif;
  color: white;
  margin-bottom: 3%;
  width: 35%;
  font-size: 1.1rem;
  padding: 1%;
  border-radius: 10px;
  margin-right: 4%;
}

.button-order {
  font-weight: 600;
  margin-top: 3%;
  background-color: #E05210;
  font-family: "Inter", sans-serif;
  color: white;
  margin-bottom: 3%;
  width: 40%;
  font-size: 1.1rem;
  padding: 1%;
  border-radius: 10px;
  margin-right: 4%;
}

.button{
  cursor: pointer;
}


.card-photo{
  width: 70%;
  margin-top: 2%;
}

.about-photo{
  width: 80%
}

.order-photo{
  width: 70%;
}

.text-start{
  padding-right: 0;
}

.something{
  width: 67%;
}


@media (max-width: $md) {
  .card-photo{
    width: 90%;
    height: 90%;
  }

  .something{
    width: 87%;
  }

  .button-home{
    font-size: 1.7rem;
    width: 50%;
  }
}


@media (max-width: $sm) {
  p{
    font-size: 1rem;
  }

  h1{
    font-size: 1.7rem;
  }

  .card-photo{
    width: 100%;
    height: 90%;
  }

  .something{
    width: 97%;
  }

  .button-home{
    font-size: 1.3rem;
    width: 50%;
  }
}

@media (max-width: 560px) {
  .card-photo{
    width: 100%;
    height: 60%;
    margin-top: 20%;
  }

  .something{
    width: 97%;
  }
}

@media (max-width: $xs) {
  p{
    font-size: .8rem;
  }

  h1{
    font-size: 1.5rem;
  }

  .card-photo{
    width: 100%;
    height: 40%;
    margin-top: 50%;
  }

  .something{
    width: 97%;
  }

  .button-home{
    font-size: 1rem;
    width: 55%;
  }
}

@media (max-width: 360px) {
  p{
    font-size: .6rem;
  }

  h1{
    font-size: 1.3rem;
  }

  .card-photo{
    width: 100%;
    height: 40%;
    margin-top: 60%;
  }

  .something{
    width: 85%;
  }

  .button-home{
    font-size: .8rem;
    width: 60%;
  }
}

@media (min-width: $lg) {

}

@media (min-width: $xl) {

}
